extends layouts/main-layout

block head 
    title #{pageTitle}
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block content
    main
        form.product-form(action="/admin/add-product", method="POST")
            div.form-control
                label(for="title") Title!
                input(type="text", name="title", id="title" required)
            div.form-control
                label(for="price") Price
                input(type="number", id="price", name="price" required)
            button.btn(type="submit") Add Product
